* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background-color: #242333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 100dvh;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    width: 340px;
}

.select-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

select {
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    /* Hide the arrow */
    -webkit-appearance: none;  /* For Chrome, Safari, and newer versions of Edge */
    -moz-appearance: none;     /* For Firefox */
    appearance: none;          /* Standard property */
    
}

.seat-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0 0 0 / 10%);
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    color: gray;
    font-size: 14px;
    margin-bottom: 30px;
}

.seat-info > div {
    display: flex;
    align-items: center;
    gap: 5px
}

.seat {
    width: 0;
    height: 0;
    border: 7px solid rgb(66, 64, 73);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-width: 5px;
}

.selected {
    border-color: cyan !important;
}

.occupied {
    border-color: white !important;
}

.container .projector {
    background-color: white;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 60px;
    box-shadow: 0 3px 6px 1px white;

    /* Create the trapezoid shape */
    transform: perspective(200px) rotateX(-20deg);
}

.container .seats {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container .seats .left {
    display: flex;
    width: 20%;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .seats .mid {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 7px;
    justify-content: center;
}


.container .seats .right {
    display: flex;
    width: 20%;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
}

.container .seats .seat:not(.occupied) {
    transform: 0.3s;
    cursor: pointer;
}

.container .seats .seat:not(.occupied):hover {
    scale: 1.3;
}